<div class="header">
  <div style="width: 80%" class="my-0 mx-auto">
    <p-toolbar id="custom-toolbar" styleClass="align-items-center">
      <p-image src="assets/images/logo.svg" alt="Image" height="37"></p-image>

      <div class="flex align-items-center text-white">
        <ul class="flex list-none">
          <li class="mx-2">Beranda</li>
          <li class="mx-2">Tentang Kami</li>
          <li class="mx-2">Produk</li>
          <li class="mx-2">Peluang Bisnis</li>
        </ul>
        <button
          pButton
          pRipple
          type="button"
          label="Join Sekarang"
          class="ml-4 h-2rem text-sm text-white p-button-outlined p-button-rounded"
        ></button>
      </div>
    </p-toolbar>
    <div class="mt-4 text-white flex">
      <div class="mt-5">
        <h1 class="text-4xl">Solusi Terbaik Untuk Meningkatkan Income Kamu</h1>
        <p class="text-base">Perluas Jaringan Bisnis Dan Bangun Team Hebat Kamu Untuk Sukses Bersama</p>

        <div class="mt-6">
          <button pButton pRipple type="button" label="Join Sekarang" class="p-button-rounded"></button>
          <!-- <button pButton pRipple type="button" label="Primary" class="p-button-text"></button> -->
          <button pButton pRipple type="button" icon="pi pi-play" class="text-white p-button-rounded p-button-text" label="Tonton Video"></button>
        </div>
      </div>
      <p-image
        src="assets/images/header1.svg"
        alt="Image"
        height="419"
        width="467"
      ></p-image>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
